<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
  <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/chats.css">
  <link rel="stylesheet" href="/css/formCss.css">
  <title>Teams Call</title>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    const name = `<%=name%>`;
    const username = `<%=username%>`
    let groups= `<%=groupsArr%>`[0];
  </script>
</head>

<body>
  <div class="header">

    <div class="header-left">
      <div class="logo-icon">

      </div>
      <div class="logo-name">
        <h4>Teams Call</h4>
      </div>
    </div>

    <div class="header-middle">
      <div>
        <h4 class="header-texts">Welcome, <%=name%>!</h4>
      </div>
    </div>

    <div class="header-right">
      <div class="logout">
        <a href="/logout"><button class="logout-btn btn btn-outline-info">LOGOUT</button></a>
      </div>
    </div>
  </div>

  <div class="main-div">

    <div class="left-div">
      <!-- -----------chat groups section--------------- -->

      <div class="chat-header">
        <div class="chat-heading">
          Conversations
        </div>
        <div class="chat-add-icon">
          <button class="new-chat-btn"><img class="new-chat-icon" src="/images/new-chat.png" alt=""></button>
        </div>
      </div>
      <hr>
      <div class="chat-grp-container">
        <div class="chat-grp">
          <%for(let i=groupsArr.length-1;i>=0;i--){%>
          <div style="cursor:pointer;" class="chat-name">
            <div>
              <img class="chat-icon" src="/images/calender.png" alt="">
            </div>
            <p style="margin:auto; margin-left:0;" class="groupNames" data-grpID=<%=groupsArr[i].grpId%>><%=groupsArr[i].name%></p>
          </div>
          <%}%>
        </div>
      </div>
    </div>

    <div class="modal-container" id="modalcontainer" style="display: none;">

        <form class="scheduleForm">

            <input type="text" name="title" class="form-control title" placeholder="Meeting Title">


            <div id="list1" class="dropdown-check-list add-participants-div" tabindex="100">
                <span class="anchor">Add Participants</span>
                <ul class="items checkbox-list">
                    <!-- <li class="checkbox-elements"><input type="checkbox" />Apple </li> -->
                </ul>
            </div>

            <div class="time-date-div">
                <input class="date form-control" name="date" type="date">
                <input class="time form-control" name="time" type="time">
            </div>
            <div>
                <button onclick="validate(this)" class="btn btn-outline-info">Submit</button>
            </div>

        </form>

    </div>



    <div class="right-div">
      <div class="grp-header">

        <div class="grp-name">
          <div>
            <img class="chat-icon" src="/images/calender.png" alt="">
          </div>
          <p style="margin:auto; margin-left:0;" class="currentGroup" data-grpID=<%=groupsArr.length>0?groupsArr[groupsArr.length-1].grpId:null%>><%=groupsArr.length>0?groupsArr[groupsArr.length-1].name:null%>
          </p>
        </div>

        <div class="start-meeting">
          <button class="btn btn-info join-btn">Join Meeting</button>
        </div>

        <div class="add-participants">
          <button class="add-user-btn">
            <img class="add-user" src="/images/viewUsers.png" alt="">
          </button>
        </div>

      </div>

      <hr>

      <div class="chat-section">
        <div class="chat-container">
          <ul class="chatList">
            <!-- <li class="left message"> -->
            <!-- <p class="user-name">Kunal</p>Hello, welcome to the group -->
            <!-- </li> -->
            <!-- <br> -->
          </ul>

        </div>

        <div class="input-container">
          <input class="chat-input form-control" type="text" name="user-message" placeholder="Type a message here...">
          <div class="send-btn"><button class="send-btn"><img class="send-icon" src="/images/send.png" alt=""></button>
          </div>
        </div>
      </div>


    </div>

    <div class="participant-list" style="display:none;">
      <!-- <div class="member-details">
        <p class="member-name">Jasleen</p>
        <p class="member-username">jasleen_06</p>
      </div> -->
    </div>
  </div>
  <script src="/chatScript.js" charset="utf-8"></script>
</body>

<script>
  let addUser = document.querySelector(".add-user");
  let addChat = document.querySelector(".new-chat-icon");
  let sendBtn = document.querySelector(".send-icon");
  // let delBtn = document.querySelector(".delete-chat");
  let submitForm = document.querySelector(".submit-form");

  // ---------------button event listeners for styling-----------------

  // for add user icon
  addUser.addEventListener("mouseover", function () {
    addUser.src = "/images/viewUsers-hover.png";
  })

  addUser.addEventListener("mouseout", function () {
    addUser.src = "/images/viewUsers.png";
  })

  // for add chat icon
  addChat.addEventListener("mouseover", function () {
    addChat.src = "/images/new-chat-hover.png";
  })

  addChat.addEventListener("mouseout", function () {
    addChat.src = "/images/new-chat.png";
  })

  // for send msg btn
  sendBtn.addEventListener("mouseover", function () {
    // console.log("hi");
    sendBtn.src = "/images/send-hover.png";
  })

  sendBtn.addEventListener("mouseout", function () {
    sendBtn.src = "/images/send.png";
  })


  // ----------modal container---------------------
  $(".chosen-select").chosen({
    no_results_text: "Oops, nothing found!"
  })

  let addConversation = document.querySelector(".chat-add-icon");
  let modalContainer = document.querySelector(".modal-container");

  addConversation.addEventListener("click", function () {
    if (modalContainer.style.display == "none") {
      socket.emit("get-all-users");
    } else {
      modalContainer.style.display = "none";
    }
  })

  socket.on("receive-all-users", (data) => {
    let ul = document.querySelector(".checkbox-list");

    ul.innerHTML = "";
    console.log("All users fetched: ", data);

    data.forEach(function (user) {
      if (user.username != username) {
        let li = document.createElement("li");
        li.innerHTML = `<input name="allUsers" type="checkbox" value="${user.username}" />${user.username}`;
        li.className = "checkbox-elements";
        // `<li class="checkbox-elements"><input type="checkbox" />${user.username}</li>`
        console.log(user.username);
        ul.append(li);
        // li.innerHTML = "";
      }
    });
    modalContainer.style.display = "block";
  });



  var checkList = document.getElementById('list1');
  checkList.getElementsByClassName('anchor')[0].onclick = function (evt) {
    if (checkList.classList.contains('visible'))
      checkList.classList.remove('visible');
    else
      checkList.classList.add('visible');
  }

  //group form validation

  function validate(btn){
    let titleInput=document.querySelector(".title").value;
    let dateInput=document.querySelector(".date").value;
    let timeInput=document.querySelector(".time").value;
    let form=document.querySelector(".scheduleForm");

    if(titleInput=="" || dateInput=="" || timeInput==""){
      alert("All input fields required");
    }
    else{
      form.action="/allUsers";
      form.method="post"
      form.submit();
      console.log("Reached else");
      modalContainer.style.display = "none";
      setTimeout(delayAlert, 500);

      function delayAlert() {
        alert("Meeting scheduled successfully, participants will be notified at the scheduled time via email");
      }
    }
  }


</script>

</html>
